<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/3.png') }}" type="image/x-icon">
    <title>GLT | Admin</title>
</head>
<body>
    <div class="one">
        <h1>Welcome to the Admin Dashboard</h1>
    </div>

    <div class="two">
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('views.contact_data') }}">Contact Form Data</a></li>
                <li><a href="{{ url_for('views.quote_data') }}">Quote Form Data</a></li>
            </ul>
        </div>

        <form method="post" action="{{ url_for('views.logout') }}" class="logout-section">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
