<footer>
    <section class="f1">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28897.507798246457!2d55.17489017431641!3d25.129318100000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6bcf9125f9c9%3A0xb23d1c41b10e0bd9!2sAl%20Quoz%20industrial%20Area%204!5e0!3m2!1sen!2s!4v1697641200119!5m2!1sen!2s"
            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="f2">
        <div class="l1 upward">
            <div>
                <h4>Contact Info</h4>
            </div>

            <div>
                <img src="images/icons/address.png" alt="" />
                <p class="address">Al Quoz Industrial Area – 4 Street – 21</p>
            </div>

            <div class="num">
                <img src="images/icons/phone.png" alt="" />
                <p class="number">+971-503-543-488</p>
            </div>

            <div class="mails">
                <img src="images/icons/gmail.png" alt="" />
                <p class="mail">info@rahimgul.com</p>
            </div>

            <div class="extralinks">
                <a href="https://www.facebook.com/rgfacebook?mibextid=ZbWKwL"><img src="images/icons/fb.png"
                        alt="" /></a>
                <a href="https://www.whatsappweb.com/"><img src="images/icons/wa.png" alt="" /></a>
                <a href="https://www.instagram.com/"><img src="images/icons/insta.png" alt="" /></a>
                <a href="https://www.linkedin.com/"><img src="images/icons/ld.png" alt="" /></a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><img src="images/icons/gmail.png"
                        alt="" /></a>
            </div>
        </div>

        <div class="l2 upward">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Our Services</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="/projects">Our Projects</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="l3 upward">
            <div class="l31">
                <h4>Our Services</h4>
            </div>

            <div class="l32">
                <div>
                    <ul>
                        <li>Salt Water Supplier</li>
                        <li>Flushing Water Removal</li>
                        <li>Salt Water Removal</li>
                        <li>Irrigation Water Supply</li>
                        <li>Sweet Water Supplier</li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>Laundry Water Removal</li>
                        <li>Waste Water Removal</li>
                        <li>Banktonet Water Removal</li>
                        <li>Diesel Tanker Rental</li>
                        <li>Cars and Truck Mechanical</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="f3">
        <div class="f31">
            <p>© 2023. All Rights Reserved by General Land Transport</p>
        </div>

        <div class="f32">
            <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li id="last">
                    <a href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </section>
</footer>