<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="shortcut icon" href="images/icons/3.png">
    <title>About | GLT</title>
</head>

<body>

    <%- include('components/navbar.ejs'); %>



        <header>
            <div class="img">
                <h1>ABOUT US</h1>
            </div>
        </header>


        <!---------------------------------------------------------- Main Area ------------------------------------------------------->

        <section class="about">
            <div class="adata">
                <p>
                    Welcome to Rahim Gul General Land Transport, your go-to partner for unparalleled transport and
                    logistics solutions. Our commitment to excellence shines through our efficient transport services,
                    whether you need goods moved across short distances or intricate supply chains managed with
                    precision.
                    Count on Rahim Gul to streamline your distribution network and provide reliable cargo transportation
                    that meets your unique requirements.
                    <br> <br>
                    Beyond transportation, we excel in water supply and removal services. From delivering crystal-clear
                    sweet water to handling grey water removal, we cover your water needs comprehensively. Our expertise
                    extends to maintaining recreational spaces, offering seamless filling and draining of swimming
                    pools,
                    and thorough water tank cleaning. Rahim Gul General Land Transport is your trusted choice for
                    reliable,
                    professional, and hygienic water-related services.
                    <br> <br>
                    But that's not all. We also specialize in diesel services, ensuring your machinery and vehicles run
                    smoothly. Trust us for top-notch diesel solutions that keep your operations efficient and reliable.
                    Join countless satisfied clients who have experienced the reliability and excellence that define
                    Rahim Gul General Land Transport.
                </p>
            </div>
        </section>

        <section class="mission">
            <div class="m1">
                <img src="images/mision.webp" alt="">
            </div>

            <div class="m2 up">
                <h1>Our Mission</h1>
                <div class="redLine"></div>
                <br>
                <p>
                    At Rahim Gul General Land Transport, our mission is simple yet powerful: to provide unmatched
                    transportation,
                    water supply, removal, and diesel services with a focus on excellence and customer satisfaction. We
                    strive to
                    set new benchmarks in the industry by seamlessly connecting businesses and communities through our
                    reliable
                    and efficient transport solutions.
                    <br> <br>
                    Driven by a commitment to environmental responsibility, our mission extends beyond logistics. We
                    aspire
                    to be
                    pioneers in sustainable practices, ensuring the purity and accessibility of water resources. With
                    cutting-edge
                    diesel services, we aim to contribute to a cleaner, more efficient future. At the heart of our
                    mission
                    is a
                    dedication to innovation, customer-centrality, and the highest standards of quality, as we navigate
                    towards a
                    future where Rahim Gul General Land Transport is synonymous with reliability and sustainability.
                </p>
            </div>
        </section>

        <section class="vision">
            <div class="v1 up">
                <h1>Our Vision</h1>
                <div class="redLine"></div>
                <br>
                <p>
                    At Rahim Gul General Land Transport, our vision is to lead the way in transportation, water supply,
                    removal, and diesel services. We aim to set industry standards by prioritizing excellence,
                    innovation,
                    and customer satisfaction. Through strategic growth, we aspire to be the preferred solution
                    provider,
                    adapting our services to meet evolving client needs.
                    <br> <br>
                    In realizing our vision, Rahim Gul General Land Transport is committed to environmental stewardship.
                    We seek to pioneer eco-friendly transport, water resource management, and advanced diesel services.
                    Beyond business success, our vision is about contributing positively to the environment and
                    communities,
                    shaping a future where our operations make a meaningful impact.
                </p>
            </div>

            <div class="v2">
                <img src="images/vision.webp" alt="">
            </div>
        </section>

        <section class="clients">
            <div class="cl1">
                <h1>Our Clients Around The World</h1>
                <br>
                <div class="redLine"></div>
                <p>
                    We collaborate with customers around the world and from all sectors, turning innovation into
                    tangible results and transforming organizations into top-performing businesses.
                </p>
            </div>

            <div class="cl2">
                <div><img src="images/projects/AC.png" alt=""></div>

                <div><img src="images/projects/AG.png" alt=""></div>

                <div><img src="images/projects/Fit.jpg" alt=""></div>

                <div><img src="images/projects/proscape.png" alt="" class="cl222"></div>
            </div>

            <div class="cl2">
                <div><img src="images/projects/GCL.png" alt=""></div>

                <div><img src="images/projects/Jorefco.png" alt=""></div>

                <div><img src="images/projects/jeet.png" alt=""></div>

                <div><img src="images/projects/hilton.png" alt="" class="cl222"></div>
            </div>
        </section>

        <section class="contact">
            <div class="c1">
                <h1 class="rt">CONTACT US</h1>
                <div class="redLine"></div>
                <br>
                <h5 class="up">NEED HELP? CALL US!</h5>
                <br>
                <h3 class="up">+971 567 008 789 <br> +971 503 543 488</h3>
                <br>
                <h4 class="up">Al Quoz Industrial Area – 4 Street – 21</h4>
                <br>
                <h3 id="em" class="up">info@rahimgul.com</h3>
                <br>
            </div>

            <div class="c2">
                <form action="">
                    <input type="text" placeholder="Your Name">
                    <br>
                    <input type="email" placeholder="Email Address" id="email">
                    <br>
                    <input type="number" placeholder="Phone Number" id="number">
                    <br>
                    <textarea name="" rows="10" placeholder="Please write your message here."></textarea>
                    <br>
                    <input type="button" value="SEND">
                </form>
            </div>
        </section>

        <!---------------------------------------------------------- Footer Area ------------------------------------------------------->

        <%- include('components/footer.ejs'); %>


            <script src="script.js"></script>
            <script src="effect.js"></script>
</body>

</html>